<a class="button-link"  ng-show="main.isLoggedIn" href="/create_task">Create Task</a></b></h1>

<section class="card-list">
  <article class="card" ng-repeat="task in data">
    <header class="card-header">
      <h2>{{task.task_name}}</h2>
      <p>Time : {{task.task_status === 1 ? 'Finished' : task.time_remaining}}</p>
    </header>
    <div class="task-description">
      <p>{{task.task_description}}</p>
      <div ng-init="loadSubTask(task.task_id)">
        <ul>
          <li ng-repeat="subtask in subData" ng-if="subtask.task_id == task.task_id">
            <div class = 'subtask-flexbox'>
            <div class = 'subtask-text' >{{ subtask.subtask_description }}</div>
            <div class = 'subtask-trash' ng-click="deleteSubTask(subtask.subtask_id)">Delete Sub task</div>
          </li>
        </ul>
          </div>
          <div>
            <form ng-submit="display.createSubTask()">
              <button ng-click = "createSubTask(task.task_id, subtaskDescription)" type="submit">Add subtask</button>
              <input type="text" id = "subtask_description" placeholder="Add Sub Tasks" ng-model="subtaskDescription"> </input>
            </form>
          </div>
          <div class="button-container">
            <a ng-href="/edit_task" ng-click="sendData(task.task_id)" class="button-link" >Edit Task</a>
            
            <button class="btn btn-danger" ng-click="deleteTask(task.task_id)">Delete Task</button>
              <a ng-click="completeTask(task.task_id, task.task_status)" class="button-link">
              Complete Task</a>
        </div>
    </div>
                            
                                
                                <!-- 
                                  
                                
                                
                                <br>
                                  -->
  </header>
  </article>
 </section>