<div class = "page-header">User Login</div>

<form ng-submit="main.doLogin(loginData);">
    <div class="field">
        <input class="input" type="text" name="username" placeholder=" " ng-model="main.loginData.username">
        <label class="label">Username</label>
        </div>
        <div class="field">
            <input class="input" type="password" name="password" placeholder=" " ng-model="main.loginData.password" ng-minLength="4" ng-maxLength="20" required>
            <label class="label">Password</label>
            </div>
    <div>
    <button type="submit">Login</button>
</div>
    

</form>

<div class="row show-hide-message" ng-show="main.successMsg">
    <div class="alert alert-success">{{main.successMsg}}</div>
    
</div>

<br>

<div class="row show-hide-message" ng-show="main.errorMsg">
    <div class="alert alert-danger">{{main.errorMsg}}</div>
    
</div>