<div class = "registerPage"><div>USER REGISTERATION</div>
<form name="regForm" ng-submit="register.regUser(regData);">
    <div class="field">
        <input class="input" type="email" name="email" placeholder=" " ng-model="register.regData.email">
        <label class="label">Email</label>
    </div>
    <div class="field">
    <input class="input" type="text" name="username" placeholder=" " ng-model="register.regData.username">
    <label class="label">Username</label>
    </div>
    <div class="field" ng-class="{}">
    <input class="input" type="password" name="password" placeholder=" " ng-model="register.regData.password">
    <label class="label">Password</label>
    </div>
    <div>
    <button class="btn btn-primary" type="submit">Register</button>
    </div>
    

</form>

<div class="row show-hide-message" ng-show="register.successMsg">
    <div class="alert alert-success">{{register.successMsg}}</div>
    
</div>

<br>

<div class="row show-hide-message" ng-show="register.errorMsg">
    <div class="alert alert-danger">{{register.errorMsg}}</div>
    
</div>
</div>